/* Reset de estilos */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

/* Estilos para el header */
header {
    background-image: url('images/imagen_2023-08-28_153137776-removebg-preview.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    padding: 40px;
    position: relative;
    text-align: center;
    color: white;
}

/* Estilos para el logo */
header img.logo {
    position: relative;
    opacity: 0.7; /* Ajusta la opacidad según sea necesario */
    max-width: 100px; /* Tamaño máximo del logo */
    margin-bottom: 20px; /* Espacio inferior */
}

header nav {
    margin-bottom: 10px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
}

header h1 {
    margin: 20px 0;
    font-size: 28px; /* Tamaño del título */
}

/* Estilos de la imagen de perfil */
.profile-image {
    max-width: 200px;
    border: 5px solid #1a2980;
    border-radius: 50%;
    margin: 10px 0;
}

/* Media query para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
    /* Cambia el estilo del encabezado, logo, y otros elementos aquí */
    header {
        padding: 20px;
    }

    header img.logo {
        opacity: 0.5;
        max-width: 80px; /* Tamaño máximo del logo en pantallas pequeñas */
    }

    header h1 {
        font-size: 24px;
    }

    /* Puedes seguir ajustando los estilos para pantallas más pequeñas */
}

/* Estilos para los botones de enlace */
.links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Columnas responsivas */
    gap: 10px;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto; /* Centrar en el medio */
}

/* Estilos de los botones de enlace */
.links a {
    text-decoration: none;
    background-color: #1a2980;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.links a:hover {
    background-color: #26d0ce;
}

/* Estilos del footer */
footer {
    background-color: #1a2980;
    padding: 20px;
}

footer p {
    margin: 0;
    color: white;
}
